<!DOCTYPE HTML>
<html>
<head>

      <meta charset="UTF-8" />
<!--   서버로부터 넘겨받은 title변수 값을 찍을수 있다-->
   <title><%=title %></title>

</head>
<body>



<!--ejs문법은 <% %>를 사용하며 그 안에 자바스크립트 코드를 사용할수 있다-->

<div><%var a=10;%></div><%=a %>


<!--
ejs문법은 <% %>안에는 자바스크립트 코드만 들어갈수 있으니 html이 나오기전에 닫아주고 html이
끝나면 다시 묶어줘야 한다
그냥 쉽게 말해서 태그만 <% %>로 감싸지 않고 태그 바깥쪽들은 <% %>로 감싸주면 된다

(ejs코드가 보기에 좀 복잡해보일수 있어 연습해야 함)
-->

<% for(var i=0; i<10; i++){ %>

    <% if(i%2!==0){ %>
    
        <div><%=i %></div>
    <%
    }

}

%>




</body>

</html>